@charset "UTF-8";
:root{
/* Variaveis de cores */
    /* Cores do Textos */
    --texto-1 : #000000;
    --texto-2 : #ffffff;
    --texto-3 : #ff0000;
}

*{
    margin: 0;
}
/* Corpo */
body{
    background: url(https://c.tenor.com/nh_nNGv9TTQAAAAC/moltres-pokemon.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Formatações de Texto */
h1, h2, h3{
    color: var(--texto-3);
    text-shadow: 1.7px 1.7px 10px black;
    text-align: center;
    font-family: calibri;
}

h1{
    font-size: 10rem;
}

h2{
    font-size: 5rem;
}

/* Padrões */
button{
    height: 25px;
    width: 80px;
    border: 1px solid black;
    background-color: #ff0000;
}