<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo</title>
    <link rel="stylesheet" href="public/css/root.css">
    <link rel="shortcut icon" href="public/images/icons/moltres_icon.png" type="image/x-icon">
</head>
<body>
    <h1>Moltres</h1>
    <h2>Meu layout para programar em PHP<br>com solucões WEB</h2>
    <h3>Essa tela pode ser removida da sua Solucão</h3>
</body>
</html>